
@import './src/style/variables';


.photoContainer{
    margin-bottom:100px !important;

    @media (max-width: 880px) {
        margin-bottom: 40px !important;
    }
}

.iosAppSection{
    background-color: rgb(86,95,207);
    margin-bottom: 130px;
}

.faqContainer{
    margin-bottom:160px !important;

    @media (max-width: 880px) {
        margin-bottom: 80px !important;
    }
}

.proWrapper{
	background-color: rgb(245,246,248);
	padding-top: 100px;
    margin-bottom: 125px;
    @media (max-width: 880px) {
        margin-bottom: 65px !important;
    }
}

.blogContainer{
	margin-bottom: 160px !important;

	.header {
		color: $hBlack;
		font-size: 48px;
        margin-bottom: 60px;
        font-family: 'Krub', sans-serif;
        font-weight: 300;
    }
    
    @media (max-width: 880px) {
        margin-bottom: 60px !important;

        .header {
            text-align: center;
            margin-bottom: 45px;
        }
    }
}

:global {
	#home {
		min-height: 1000px;
	}
}