@import './src/style/variables';



    
.blogQuote {
  background: $paleGrey;
  padding-top: 76px;
  padding-bottom: 76px;
  letter-spacing: -0.3px;
  @media (max-width: 880px) {
    padding: 76px 30px 76px 40px;
    width: 100%;
  }

  blockquote {
    max-width: 980px;
    font-size: 18px;
    line-height: 1.778;
    color: $charcoalGrey;
    margin: 0 auto;
    padding-left: 64px;
    position: relative;
    font-style: italic;

    &:before {
      content: '';
      display: inline-block;
      background: url("../../../assets/quote@3x.png") 0 0 no-repeat;
      background-size: contain;
      width: 32px;
      height: 25px;
      position: absolute;
      top: 8px;
      left: 0;
    }
  }

  .blogAuthorName {
    max-width: 980px;
    margin: 34px auto 0;
    padding-left: 64px;
    position: relative;

    &:before {
      content: '';
      display: inline-block;
      background-color: $cherryRedTwo;
      width: 32px;
      height: 3px;
      position: absolute;
      top: 50%;
      left: 0;
      margin-top: -2px;
    }
  }
}