@import './src/style/variables';

.featuredServices{
	margin-bottom: 160px !important;
	
	.header {
		color: $hBlack;
		font-size: 22px;
		margin-bottom: 40px;
        line-height: 2.9;
        font-family: 'Krub', sans-serif;
        font-weight: 500;

      @media (max-width: 1200px) {
        font-size: 32px;
        text-align: center;
        line-height: 1.5;
      }
	}
	.services{
		display: flex;
		flex-wrap: wrap;
        justify-content: space-between;
    }
    @media (max-width: 1200px) {
        .services{
            justify-content: center;
            width: 80%;
            margin: 0 auto;
        }
    }

    @media (max-width: 880px) {
        margin-bottom: 50px !important;

      .services {
        width: 100%;
      }

        .header {
            text-align: center;
        }
    }
}