@import './src/style/variables';

.TextBlock {
  display: flex;
  flex: 1;
  justify-content: space-between;
  margin: 0 auto 140px auto;
  align-items: center;

  .howWorksText {
    font-size: 23px;
    line-height: 1.739;
    padding: 15px 0;
    width: 50%;
    padding-right: 30px;

    @media (max-width: 1200px) {
      padding-right: 20px;
    }

    @media (max-width: 1080px) {
      width: 100%;
      padding-right: 0;
    }
  }

  .header {
    color: $hBlack;
    margin-bottom: 25px;
    font: 300 48px/1.333 'Krub', sans-serif;

    span {
      color: $pinkishRed;
    }
  }

  .text {
    margin-bottom: 50px;
  }

  .image {
    flex: 1;
    width: 50%;
  }


  @media (max-width: 1080px) {
    padding: 0;
    width: auto;
    text-align: center;
    flex-direction: column-reverse;
    margin-bottom: 100px !important;

    .header {
      font-size: 32px;
    }

    .howWorksText {
      max-width: none;
      margin: 50px auto 0;
      text-align: center;
      font-size: 16px;
      padding: 0;
    }

    .image,
    .text,
    .header {
      width: 90%;
      margin: 0 auto;
    }

    .text {
      margin-top: 25px;
      margin-bottom: 50px;
    }

    .buttons {
      display: flex;
      flex-direction: row-reverse;
      justify-content: center;
    }
  }

  @media (max-width: 640px) {
    margin-bottom: 60px !important;
    .image,
    .text,
    .header {
      width: 100%;
    }
  }
}