@import './src/style/variables';

.blockBg {
  background: $paleGrey;
}

.blockBgInner {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  padding: 100px 0 127px;

  h2 {
    font: 300 40px/1.6 'Krub', sans-serif;
    color: $hBlack;
    margin-bottom: 0;
  }

  .red-btn {
    display: inline-block;

    a {
      color: white;
    }
  }
  @media (max-width: 880px) {
    padding: 88px 0 115px;
  }
}

.steps {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: -.3px;
  color: $charcoalGrey;
  margin-top: 70px;

  @media (max-width: 880px) {
    display: block;
    margin-top: 65px;
  }

  .step {
    flex: 1;
    max-width: 350px;
    margin-bottom: 50px;
    padding: 0 30px;
    position: relative;

    [lang="ru"] & {
      padding: 0 16px;
    }

    @media (max-width: 880px) {
      width: 80%;
      min-width: 300px;
      max-width: none;
      margin: 0 auto 50px;
    }
  }

  .iconContainer{
    text-align: center;
    height: 52px;
    line-height: 52px;
  }
  .icon {
    max-height: 52px;
    max-width: 115px;
  }

  .title {
    font: 500 20px/1.6 'Krub', sans-serif;
    letter-spacing: -.4px;
    margin: 36px 0 12px;
    color: $hBlack;

    [lang="ru"] & {
      font-weight: 400;
    }
  }
  .text {

    [lang="ru"] & {
      padding: 0 14px;
    }
  }
}

:global {

  .up-margin {
    margin-top: -130px;
    @media (max-width: 880px) {
      margin-top: 0;
    }
  }
}