@import './src/style/variables';

.blogPost {
	min-width: 294px;
	width: 294px;
	height: 372px;
	margin: 0 12px;
	overflow: hidden;
	position: relative;
	border-radius: 10px;
	cursor: default;

	&Wrapper {
		content: '';
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 100%);
		background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 100%);
		background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 100%);
		transition: background 0.3s ease;
	}

	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	&Description {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		color: white;
		font-size: 20px;
		line-height: 1.6;
		font-family: 'Krub', sans-serif;
		font-weight: 500;
		letter-spacing: -.4px;
		padding: 0 46px 50px;

		.date {
			font-size: 12px;
			letter-spacing: .2px;
			margin-bottom: 10px;
		}
	}

	&:hover {
		.blogPostWrapper {
			background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.6) 100%);
			background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.6) 100%);
			background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.6) 100%);
			text-decoration: underline
		}

		.title{
			cursor: pointer;
			text-decoration: underline;
		}
	}

	&s{
		margin: 60px auto 0;
		padding: 20px 0 80px;
		border-top: 2px solid $paleGrey;
		overflow-x: hidden;

		@media (max-width: 880px) {
			padding-bottom: 100px;
		}

		&Slider {
			position: relative;
		}

		&Title {
			max-width: 980px;
			margin: 0 auto;
			padding-top: 60px;
			padding-bottom: 60px;
			display: flex;
			align-items: center;
			justify-content: space-between;

			h3 {
				margin: 0;
				flex: 1;
			}

			@media (max-width: 880px) {
				display: block;
				text-align: center;
				padding-top: 40px;
				padding-bottom: 40px;
			}
		}
	}
}