@import './src/style/variables';
.activityList {
	margin-top: 60px;
	h2 {
		a {
			float: right;
			font-size: 16px;
			display: inline-block;
			vertical-align: bottom;
			position: relative;
			top: 23px;
			span {
				margin-left: 5px;
				font-size: 14px;
			}
		}
	}
	.inner {
		padding: 20px;
    box-shadow: 0 0 11px rgba(0,0,0,.1);

	}
}
.empty {
	text-align: center;
  font-size: 20px;
  padding: 30px 0 10px;

}
.header {

	font-weight: bold;
	> div {
		display: inline-block;
		width: 12%;
	}
	.type {
		width: 8%;
	}
	.contact {
		width: 40%;
	}
	.date {
		width: 20%;
	}
    
    border-bottom: 1px solid $blue;

}
