@import './src/style/variables';

.animatedImage {
  position: relative;

  .greeting {
    background: $pinkishRed;
    color: #fff;
    border-radius: 22px;
    padding: 1px 22px;
    position: absolute;
    animation: blink 2s infinite;

    &:before {
      content: '';
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 5px 5px 5px;
      border-color: transparent transparent $pinkishRed transparent;
      position: absolute;
      bottom: 100%;
      left: 50%;
      margin-left: -5px;
    }

    @media (max-width: 640px) {
      font-size: 12px;
    }
  }
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  35% {
    opacity: 1;
  }
  65% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

  .greeting0 {
    top: 61%;
    right: 22%;
  }
  .greeting1 {
    bottom: -2%;
    right: 10%;
  }
  .greeting2 {
    top: 40%;
    left: 17%;
  }
  .greeting3 {
    top: 46%;
    right: 4%;
  }
  .greeting4 {
    bottom: 15%;
    left: 24%;
  }
  .greeting5 {
    bottom: -2%;
    left: 48%;
  }
  .greeting6 {
    top: 37%;
    left: 40%;
  }