@import './src/style/variables';

.wordContainer{
    position: relative;
    top: -15px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 84px;
    @media (max-width: 880px) {
        height: 48px;
        top: -6px;
    }
    @media (max-width: 450px) {
        height: 86px;
        line-height: 18px;
        top: 0;
    }
}
.word{
    color: $red;
    
    &::after{
        content: " ";
        display: inline-block;
        position: relative;
        width: 2px;
        height: 76px;
        background-color: $red;
        bottom: -20px;
        margin-left: 7px;
        animation: blink 1.5s linear infinite;

        @media (max-width: 880px) {
            height: 48px;
            bottom: -9px;
        }
    }
}

@-webkit-keyframes blink {
    50% { background-color: rgb(245, 13, 68); }
    51% { background-color: rgba(245, 13, 68, 0); }
    100% { background-color: rgba(245, 13, 68, 0); }
}
@keyframes blink {
    50% { background-color: rgb(245, 13, 68); }
    51% { background-color: rgba(245, 13, 68, 0); }
    100% { background-color: rgba(245, 13, 68, 0); }
}